<section class="flex flex-col ml-10">
    <p class="font-nunito font-semibold text-5xl my-6">Dashboard</p>
    <!-- Wheels -->
    <div class="flex flex-col gap-12">
        <div class="flex flex-wrap gap-8">
            <app-dashboard-wheel [maxAmountOfData]="500" [_currentData]="234">
                <p class="font-semibold text-2xl pb-4">Nombre de salons</p>
            </app-dashboard-wheel>
            <app-dashboard-wheel [maxAmountOfData]="200" [_currentData]="150">
                <p class="font-semibold text-2xl pb-4">Nombre de role</p>
            </app-dashboard-wheel>
        </div>
        <!-- Graphs -->
        <div class="flex flex-wrap gap-8">
            <app-dashboard-graph
                                 class="flex-1 font-semibold p-4 rounded-xl shadow-xl bg-color-white">
                <p class="pb-2 text-2xl" graph-title>Promos</p>
                <div graph>
                    <canvas id="promosChart">{{ promosChart }}</canvas>
                </div>
            </app-dashboard-graph>
            <app-dashboard-graph
                                 class="flex-1 font-semibold p-4 rounded-xl shadow-xl bg-color-white">
                <p class="pb-2 text-2xl" graph-title>Apprenants</p>
                <div graph>
                    <canvas id="apprenantsChart">{{ apprenantsChart }}</canvas>
                </div>
            </app-dashboard-graph>
        </div>
    </div>
</section>