<section class="bg-color-red w-[250px] h-screen py-14 px-4">
        <img class="w-[200px] block mx-auto" src="images/logo-simplon.svg"
             alt="logo Simplon">
        <nav class="w-full mt-20 flex flex-col">
                <button class="navbar-link"
                        routerLink="/dashboard">Dashboard</button>
                <button class="navbar-link mt-2"
                        routerLink="/promos">Promos</button>
                <button class="navbar-link mt-2"
                        routerLink="/apprenants">Apprenants</button>
                <button class="navbar-link mt-2"
                        routerLink="/alumni">Alumni</button>
        </nav>
</section>