<section class="bg-color-red w-[250px] h-screen py-14 px-4">
        <img class="w-[200px] block mx-auto" src="images/logo-simplon.svg"
             alt="logo Simplon">
        <nav class="w-full mt-20 flex flex-col">
                <button class="w-full text-lg font-bold font-nunito text-color-white py-[4px] rounded-md hover:bg-color-red-light focus:bg-color-white focus:text-color-red"
                        routerLink="/dashboard">Dashboard</button>
                <button class="w-full text-lg font-bold font-nunito mt-2 text-color-white py-[4px] rounded-md hover:bg-color-red-light focus:bg-color-white focus:text-color-red"
                        routerLink="/promos">Promos</button>
                <button class="w-full text-lg font-bold font-nunito mt-2 text-color-white py-[4px] rounded-md hover:bg-color-red-light focus:bg-color-white focus:text-color-red"
                        routerLink="/apprenants">Apprenants</button>
                <button class="w-full text-lg font-bold font-nunito mt-2 text-color-white py-[4px] rounded-md hover:bg-color-red-light focus:bg-color-white focus:text-color-red"
                        routerLink="/alumni">Alumni</button>
        </nav>
</section>