<div class="px-20 py-20 font-nunito" *ngIf="formation">
    <div>
        <div class="flex items-center gap-5">
            <h1 class="text-5xl font-semibold">{{ formation.name }} à {{
                formation.place }}</h1>
            <li class="bg-color-success bg-opacity-5 px-3 py-1 rounded-md text-color-success border-2 border-color-success font-semibold"
                *ngIf="formation.status === 'en cours'"> En cours </li>
            <li class="bg-color-red bg-opacity-5 px-3 py-1 rounded-md text-color-red border-2 border-color-red font-semibold"
                *ngIf="formation.status === 'terminé'"> Terminé </li>
        </div>
        <h3 class="text-2xl font-medium mt-2">{{formation.start_date}} -
            {{formation.end_date}}</h3>
    </div>
    <p>Type: {{ formation.type }}</p>
    <h2 class=" text-3xl mt-14">Staffs</h2>
    <div class="flex gap-2 mt-2">
        <app-staff-card [person]="formation.former_1"
                        role="Formateur 1"></app-staff-card>
        <app-staff-card [person]="formation.former_2"
                        role="Formateur 2"></app-staff-card>
        <app-staff-card [person]="formation.caps" role="CAPS"></app-staff-card>
        <app-staff-card [person]="formation.charge_admin"
                        role="Charge Admin"></app-staff-card>
        <app-staff-card [person]="formation.responsable_campus"
                        role="Responsable Campus"></app-staff-card>
        <app-staff-card [person]="formation.responsable_pedagogique"
                        role="Responsable Pédagogique"></app-staff-card>
    </div>
    <h2>Apprenants</h2>
    <ul>
        <li *ngFor="let learner of formation.learners"> {{ learner.name }} - {{
            learner.phoneNumber }} - {{ learner.email }} </li>
    </ul>
    <h3>Ajouter un apprenant</h3>
    <form [formGroup]="learnerForm" (ngSubmit)="addLearner()">
        <label for="name">Nom:</label>
        <input id="name" formControlName="name">
        <div
             *ngIf="learnerForm.get('name')?.invalid && learnerForm.get('name')?.touched">
            Le nom est requis. </div>
        <label for="phoneNumber">Téléphone:</label>
        <input id="phoneNumber" formControlName="phoneNumber">
        <div
             *ngIf="learnerForm.get('phoneNumber')?.invalid && learnerForm.get('phoneNumber')?.touched">
            Le numéro de téléphone est requis. </div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email">
        <div
             *ngIf="learnerForm.get('email')?.invalid && learnerForm.get('email')?.touched">
            Une adresse email valide est requise. </div>
        <button type="submit" [disabled]="learnerForm.invalid">Ajouter</button>
    </form>
</div>
<div *ngIf="!formation">
    <p>Formation not found.</p>
</div>